#center {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 350px;
    width: 350px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 100%;
    background-size: 100% auto;
    margin-left: 70px;
    margin-top: 50px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.boton {
    width: 18px;
    height: 19px;
    background-color: #706c70;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 50%;
}

.boton:hover {
    opacity: 0.25;
    -moz-opacity: .25;
    filter: alpha (opacity=25);
}

.boton a {
    color: rgb(136, 132, 132);
    text-decoration: none;
    padding: 5px 5px 5px 0;
}

#global {
    height: 250px;
    width: auto;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
}

#cardScroll {
    height: 550px;
    width: auto;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

#trab {
    height: 550px;
    width: auto;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
}

#mensajes {
    height: auto;
}

.texto {
    padding: 4px;
    background: #fff;
}